[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=gapcmon
TryExec=gapcmon
Icon=/usr/share/pixmaps/apcupsd.png
Categories=Applications;System Tools;
X-GNOME-DocPath=
Terminal=false
Name[en_US]=APCUPSD Monitor
GenericName[en_US]=gapcmon
Comment[en_US]=Gtk/GUI Monitor program for (U)ninterruptible (P)ower (S)upply under the management of the APCUPSD.sourceforge.net package, also available at gapcmon.sourceforge.net
