[Desktop Entry]
Encoding=UTF-8
Name=APCUPSD Monitor
GenericName=gapcmon
Comment=Gtk/GUI Monitor program for (U)ninterruptible (P)ower (S)upply under the management of the APCUPSD.sourceforge.net package, also available at gapcmon.sourceforge.net
Exec=gapcmon
Icon=apcupsd.png
Terminal=false
Type=Application
Categories=Applications;System Tools;
Version=0.5.4

